html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", cursive;
}
body {
  padding: 0;
  margin: 0;
}
html,
body,
#issmap {
  height: 85%;
  width: 95vw;
}
.card__satellite-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card__title {
  font-size: 1em;
}

p {
  font-size: 0.5em;
}
p.see-ISS {
  margin: 0 0 0.8em 0.8em;
}
p.date {
  margin: 1em 0 0.5em 0.5em;
}
h5 {
  margin: 1em 0 0 0;
}
a {
  font-size: 0.8em;
}
a.spot_nasa {
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 800px) {
  #issmap {
    height: 500px;
    width: 776px;
  }
}
